beta.shapefyapp.com {
    root * /usr/share/caddy
    encode gzip

    reverse_proxy /api/* https://beta.shapefy.online {
        header_up Host beta.shapefy.online
    }

    file_server
    try_files {path} /index.html
}
